<html>
    <head>
        <title>Products list</title>
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        />
    </head>
    <body>
        <div class="container">
            <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
                <h1 class="display-4">Products list</h1>
                <p class="lead">
                    A simple list of products retrieved from
                    <a href="https://haelpl.myshopify.com/">haelpl.myshopify.com</a>
                </p>
            </div>

            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">id</th>
                    <th scope="col">title</th>
                    <th scope="col">description</th>
                  </tr>
                </thead>
                <tbody>
                    <% products.forEach( function(product, key) { %>
                  <tr>
                    <th scope="row"><%= key %> </th>
                    <th><%= product.id %></th>
                    <td><%= product.title %></td>
                    <td><%- product.body_html %></td>
                  </tr>
                  <% }); %>
                
                </tbody>
              </table>
            </div>
        </div>
    </body>
</html>